body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color:bisque;
    background-image: url(W1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    width: 360px;
    height: 500px;
    background-color:cadetblue;
    padding: 20px;
    margin:auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.container:hover{
    background-color: palevioletred;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: blue;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color:blueviolet;
}

.error-message {
    color: red;
    text-align: center;
    margin-top: 10px;
}